.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(24, 31, 38);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 10px 10px 6px 20px;
    text-decoration: none;
    font-size: 19px;
    color: #fff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #aaaaaa;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }

  .topbara{
      float:left;
      display: block;
      padding: 14px;
      overflow: hidden;
      text-decoration: none;
      font-size: 14px;
      color: #fff;
      text-align: center;
  }

  .topbar a:hover {
    color: #aaaaaa;
  }

#content-desktop {display: block;}
#content-topbar {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block; margin-left:0px; padding-top: 20px;}
#content-topbar {display: block;}
}